/* CSS Document */
#menu{
    position: absolute;
    background-color: #54DAEB;
    width: 260px;
    height: 420px;
    top: 150px;
    left: 0px;
}
#menu-u0{
    position: absolute;
    background-color: #ffffff;
    width: 260px;
    height: 70px;
    top: 0px;
    left: 0px;
}
#menu-u1{
    position: absolute;
    background-color: #f47c7d;
    width: 260px;
    height: 70px;
    top: 70px;
    left: 0px;
}
#menu-u2{
    position: absolute;
    background-color: #ffffff;
    width: 260px;
    height: 70px;
    top: 140px;
    left: 0px;
}
#menu-u3{
    position: absolute;
    background-color: #ffffff;
    width: 260px;
    height: 70px;
    top: 210px;
    left: 0px;
}
#menu-u4{
    position: absolute;
    background-color: #ffffff;
    width: 260px;
    height: 70px;
    top: 280px;
    left: 0px;
}
#menu-u5{
    position: absolute;
    background-color: #ffffff;
    width: 260px;
    height: 70px;
    top: 350px;
    left: 0px;
}
#img-u0,#img-u1,#img-u2,#img-u3,#img-u4,#img-u5{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 31%;
    left: 30px;
}
#text-u1{
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    top: 6%;
    left: 34%;
}
#text-u0,#text-u2,#text-u3,#text-u4,#text-u5{
    position: absolute;
    color: #8a8a8a;
    font-size: 20px;
    top: 6%;
    left: 34%;
}

table{
    border-collapse:collapse;
     width:100%;
}
td,th{
    height:50px;
    vertical-align:center;
    text-align:center;
}
table, th, td{
    border: 1px solid #C9C9C9;
}
#delete-img,#modify-img{
    width: 26px;
    height: 26px;
}
#tda{
    height:70px;
    background-color: #f47c7d;
    font-size: 30px;
    color: #ffffff;
    box-shadow: 0px 2px 10px #a4a4a4;
}
#add-img{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 31px;
    right: 35px;
}
input[type=submit],#button {
    color: #ffffff;
    border: none;
    background-color: #4680ff;
    width: 200px;
    height: 50px;
    box-shadow: 0px 0px 10px #c4c4c4;
}