/* CSS Document */
#menu{
    position: absolute;
    background-color: #ffffff;
    width: 260px;
    height: 90%;
    top: 70px;
    left: 0px;
}
#menu-u0{
    position: absolute;
    background-color: #6777ef;
    width: 240px;
    height: 70px;
    top: 0px;
    left: 10px;
}
#menu-u1{
    position: absolute;
    background-color: #ffffff;
    width: 240px;
    height: 70px;
    top: 70px;
    left: 10px;
}
#menu-u1:hover{
    background-color: #f4f6f9;
}
#menu-u2{
    position: absolute;
    background-color: #ffffff;
    width: 240px;
    height: 70px;
    top: 140px;
    left: 10px;
}
#menu-u2:hover{
    background-color: #f4f6f9;
}
#menu-u3{
    position: absolute;
    background-color: #ffffff;
    width: 240px;
    height: 70px;
    top: 210px;
    left: 10px;
}
#menu-u3:hover{
    background-color: #f4f6f9;
}
#menu-u4{
    position: absolute;
    background-color: #ffffff;
    width: 240px;
    height: 70px;
    top: 280px;
    left: 10px;
}
#menu-u4:hover{
    background-color: #f4f6f9;
}
#menu-u5{
    position: absolute;
    background-color: #ffffff;
    width: 240px;
    height: 70px;
    top: 350px;
    left: 10px;
}
#menu-u5:hover{
    background-color: #f4f6f9;
}
#img-u0,#img-u1,#img-u2,#img-u3,#img-u4,#img-u5{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 31%;
    left: 20px;
}
#text-u0{
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    top:  23px;
    left: 34%;
}
#text-u1,#text-u2,#text-u3,#text-u4,#text-u5{
    position: absolute;
    color: #8a8a8a;
    font-size: 20px;
    top: 23px;
    left: 34%;
}