html, body {
  width: 100%;
  height: 100%;
    overflow: hidden;
}
body {
  background: #16a085;
}
#particles {
  width: 100%;
  height: 100%;
    overflow: hidden;
}
#login{
    width: 400px;
    height: 450px;
    position: absolute;
    top:18%;
    left:38%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 20px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
#text-one{
    position: absolute;
    font-size: 80px;
    color: rgba(255,255,255,0.8);
    top:22%;
    left:33.5%;
    letter-spacing:6px;
}
#text-two{
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    top:46%;
    left:47%;
    width: 100px;
    height: 10px;
}
#text-three{
    position: absolute;
    font-size: 24px;
    color: rgba(255,255,255,0.8);
    top:53%;
    left:43.5%;
    letter-spacing:6px;
}
#login-text-1{
    font-size: 35px;
    color:#ffffff;
    margin-left: 30px;
    margin-top: 30px;
}
#login-text-2{
    font-size: 30px;
    color:#ffffff;
    margin-left: 30px;
    margin-top: -30px;
}
#nametext,#pswtext{
    margin-left: 30px;
    font-size: 13px;
}
input[type=text]{
    margin-left: 30px;
    margin-top: -10px;
    width: 85%;
    height: 40px;
    border: none;
    background-color: rgba(255,255,255,0);
    border-bottom: 2px solid #16a085;
    outline-style: none ;
    color:#ffffff;
    font-size: 17px;
}
#forget{
    color: #5cbdaa;
    text-decoration:none;
    margin-left: 280px;
    margin-top: -30px;
}
input[type=submit]{
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #5cbdaa;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #16a085;
    color: #ffffff;
    margin-left: 30px;
    margin-top: 20px;
    outline-style: none ;
}